.full-screen-card {
  height: 100vh;
  position: relative;
}

.full-screen-img {
  height: 100%;
  object-fit: cover;
}

.card-title {
  font-family: serif;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  font-size: clamp(2rem, 10vw, 6rem);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


.title{margin-top: 20px; padding-top: 20px; }

.Paragraph{text-align: justify; font-family: serif; font-size: 20px;
display: flex;
justify-content: center;
margin: 20px 10px 10px 20px; padding: 20px 0px 10px 20px;}

.blog{ font-family: serif;
    h2, h3{color:#E6521F; margin: 20px 20px 0px 20px; padding: 20px 20px 0px 20px; text-align: center;}
    ul{margin: 0px 40px; padding: 0px 20px; text-align: center;}
    display: block;
    align-content: center;
}
